<div class="mainContainer">
  <div ng-controller="TodoCtrl" class="toDoContainer">
    <div class="createTask">
      <form
        action=""
        method="POST"
        [formGroup]="bForm"
        (ngSubmit)="onSubmit(bForm.value)"
        novalidateng-submit="addTodo()"
        class="form-inline createForm"
      >
        <!--TITLE START-->
        <div class="form-group">
          <input
            class="form-control"
            size="30"
            placeholder="New Title"
            type="text"
            id="title"
            name="title"
            formControlName="title"
          />
        </div>
        <!--TITLE END-->
        <!--SUMMARY START-->
        <div class="form-group">
          <input
            class="form-control"
            size="30"
            placeholder="Description"
            type="text"
            id="description"
            name="description"
            formControlName="description"
          />
        </div>
        <!--SUMMARY END-->
        <!--PRIORITY START-->
        <div class="form-group">
          <!-- <select
            class="form-control priority"
            name="tag"
            ng-model="priority"
            ng-click="endEditMode()"
          >
            <option value="3">High</option>
            <option value="2">Medium</option>
            <option value="1">Low</option>
          </select> -->
          <select class="form-select">
            <option value="1">High</option>
            <option value="2">Medium</option>
            <option value="3">Low</option>
          </select>
        </div>
        <!--PRIORITY END-->
        <!--DUE DATE START-->
        <div class="form-group">
          <input
            class="form-control datepicker"
            type="date"
            name="dueDate"
            placeholder="yyyy-MM-dd"
            min="2022-04-08"
            max="2029-12-31"
            formControlName="dueDate"
            required
          />
        </div>
        <!--DUE DATE END-->
        <!--SUBMIT BTN-->
        <div class="form-group">
          <button class="add-btn btn-secondary" type="submit">add</button>
        </div>
        <!--SUBMIT BTN-->
      </form>
      <span class="tasksLeft">Items: {{ items?.length }} </span>
    </div>
    <!--HEADER START-->
    <div style="overflow: scroll; height: 300px">
      <table id="table">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Tag</th>
            <th>Due Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td><input type="checkbox" /></td>
            <td>
              <span>{{ item.id }}</span>
            </td>
            <td>
              <span>{{ item.title }}</span>
            </td>
            <td>
              <span>{{ item.description }}</span>
            </td>
            <td>
              <span>{{ item.tag }}</span>
            </td>
            <td>
              <span>{{ item.dueDate | date: "shortDate" }}</span>
            </td>

            <td>
              <button
                (click)="deleteItem(item.id)"
                class="btn btn-sm btn-danger"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- TODO END-->
  </div>
  <div class="logout">
    <button (click)="logout()">Logout</button>
  </div>
</div>
